<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hw.bousman.exercises" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Session1Activity" >
        </activity>
        <activity android:name=".Session2Activity" >
        </activity>
        <activity android:name=".Session2bActivity" >
        </activity>
        <activity android:name=".Session2cActivity" >
        </activity>
        <activity android:name=".Session3Activity" >
        </activity>
        <activity android:name=".Session3bActivity" >
        </activity>
        <activity android:name=".Session4Activity" >
        </activity>
        <activity android:name=".Session5Activity" >
        </activity>
        <activity android:name=".Session5bActivity" >
        </activity>
        <activity android:name=".Session5cActivity" >
        </activity>
        <activity android:name=".Session6Activity" >
        </activity>
        <activity android:name=".Session6bActivity" >
        </activity>
        <activity android:name=".Session6cActivity" >
        </activity>
        <activity android:name=".Session6dActivity" >
        </activity>
        <activity android:name=".Session7Activity" >
        </activity>
        <activity android:name=".Session7bActivity" >
        </activity>
        <activity android:name=".Session8Activity" >
        </activity>
        <activity android:name=".Session9Activity" >
        </activity>
    </application>

</manifest>
